# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RabiDemoFramework.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Administrator\Desktop\RabiDemoFramework\.idea\.idea.RabiDemoFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
